<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <main>
      <form action="/auth/login" method="POST">
        <h1>Login</h1>
        <% if (locals.errors) {%>
        <ul>
          <% errors.forEach(error => { %>
          <li><%= error%></li>
          <%}); %>
        </ul>
        <% }%>

        <input
          id="username"
          name="username"
          placeholder="Username"
          type="text"
        />
        <input
          id="password"
          name="password"
          type="password"
          placeholder="Password"
        />

        <button class="primary" type="submit">Log In</button>
      </form>
      <a href="/auth/signup">Don't have an account yet?</a>
    </main>
  </body>
</html>
