<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
  </head>
  <body>
    <main>
      <% if (locals.errors) {%>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <%}); %>
      </ul>
      <% }%>

      <h1>Sign Up</h1>
      <form action="/auth/signup" method="POST">
        <label for="username">Full Name</label>
        <input
          id="fullname"
          name="fullname"
          placeholder="fullname"
          type="text"
          required
        />
        <label for="username">Username</label>
        <input
          id="username"
          name="username"
          placeholder="username"
          type="text"
          required
        />
        <label for="password">Password</label>
        <input
          required
          id="password"
          name="password"
          type="password"
          placeholder="password"
        />
        <label for="password">Confirm Password</label>
        <input
          id="passwordConfirmation"
          name="passwordConfirmation"
          type="password"
          placeholder="password confirmation"
          required
        />

        <button type="submit">Sign Up</button>
      </form>

      <a href="/auth/login">Already have an account?</a>
    </main>
  </body>
</html>
