<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>
    <main>
      <h1>Take a look at some strangers' posts!</h1>
      <a href="/messages">Go!</a>
    </main>
  </body>
</html>
