<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <main>
      <h1>What's up <%= locals.currentUser.username %>?</h1>

      <%if (locals.currentUser.membership_status) { %>
      <form action="/messages/new" method="post">
        <label for="title">
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Title"
            required
          />
        </label>
        <label for="text">
          <textarea
            name="text"
            id="text"
            required
            placeholder="Message"
          ></textarea>
        </label>
        <button class="primary" type="submit">Submit message</button>
      </form>
      <%} %>

      <section class="messages">
        <h2>Messages</h2>
        <% if (!locals.currentUser.membership_status) { %>
        <a href="/membership">Become a member! </a><%} %> <%
        messages.forEach(msg => { %> <%- include("../partials/message", {msg:
        msg}) %> <%}); %>
      </section>
    </main>
  </body>
</html>
