<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <main>
      <h2>Want to become a member? Answer the following riddle:</h2>
      <p>
        I can be true, I can be false,<br />
        Yet I’m not a lie at all.<br />
        You’ll find me in every logic gate,<br />
        And every <code>if</code> that seals your fate.<br />
      </p>

      <%if (locals.errors) { %>
      <ul>
        <% errors.forEach(error => { %>
        <li><%=error.msg%></li>
        <% }) %>
      </ul>
      <%}%>

      <form action="/membership" method="post">
        <input type="text" name="answer" id="answer" placeholder="Answer"/>
        <button type="submit">Send answer</button>
      </form>
    </main>
  </body>
</html>
